*{
    margin: 0;
    padding: 0;
}



@keyframes moveDown {
    from{
        transform:translateY(-54rem)
    }
    to{
        transform: translateY(0);
    }
}


@keyframes mveFromRight {
    from{
        transform: translateX(2rem) skew(150deg);
    }
}
@keyframes moveFingerDown {
    from{
        transform:translateY(-4rem)
    }
    to{
        transform: translateY(0);
    }
}
@keyframes bigger {
    from {
        transform: scale(.5);
    }
    to {
        transform: scale(1);
    }
    
}

html {
    max-width:1440px;
    margin-left:auto;
    margin-right:auto;
}
body {
    background-color: #000;
    color:#fff;
    padding: 2rem;
    font-family: sans-serif;
}

.header {
    margin: 0;
    padding: 0;
    width: 100%;
    transition:transform 1s ease-in;
    animation:moveDown 3s ;
}
.header {
    display: grid;
    grid-template-columns: .7fr auto;
    gap: 4rem;
    align-items: center;
}

.author {
    animation-name: bigger;
    animation-delay: 3s;
    animation-duration:4s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}

.goDown {
    margin-left: 20rem;
    margin-top: 3rem;
    font-size: 3rem;
    transition: 4s ease-in;
    animation:moveFingerDown 3s ;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-delay: 2s;
}

.finger {
    display: none;
    transition: all 3s;
}

.scroller{
    display: none;
}

.header img {
    width: 100%;
}

.header h1{
    font-size: 4rem;
    padding: 2rem;
    color: rgb(205, 205, 205);
}

.header p {
    font-size: 2rem;
    color: rgb(205, 205, 205);
    padding-left: 2rem;
}

.details {
    margin-top: 15rem;
    align-items: center;
}

.details h2 {
    color: gray;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.si {
    width: 100%;
    align-items: center;
    padding: 3rem;
    box-sizing: border-box;
}

.si p{
    text-align: justify;
    width: 100%;
    color: rgb(205, 205, 205);
    line-height: 1.5rem;
}

.si a{
    text-decoration: none;
    color: white;
}

.firstP p {
    margin-bottom: 1rem;
}

.allSkill  {
    align-items: center;
    width: 100%;
}

.skill {
    color: gray;
    margin-top: 6rem;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.firstSkill {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: gray;
    margin-top: 4rem;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.secondSkill {
    display: grid;
    grid-template-columns: .6fr auto .6fr;
    color: gray;
    margin-top: 4rem;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.thirdSkill {
    display: grid;
    grid-template-columns: .5fr 1fr .2fr;
    color: gray;
    margin-top: 4rem;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.last {
    color: gray;
    margin-top: 4rem;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.project {
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    padding-left:2rem ;
    margin-bottom: 6rem;
}

.pro {
    text-align: center;
    margin-top: 15rem;
    font-size: 3rem;
    text-transform: uppercase;
    color: rgb(202, 202, 202);
    margin-bottom: 7rem;
}

.together {
    animation-name: mveFromRight;
    animation:moveFingerDown 3s ;
    transition: all 1s;
    animation-delay: 3s;
}

.mobileImage{
    box-shadow: 3px 3px 3px gray, -3px -3px 3px gray;
    border-radius: 1rem;
    width: 100%;
}

.project h3 {
    font-size: 2rem;
    text-align: center;
}

.detailed  h3{
    width: 100%;
    text-align: center;
    align-items: center;
    margin-top: 4rem;
}

.detailed p {
    width: 100%;
    margin-top: 1rem;
}

.tools {
    color: gray;
    margin-top: 2rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
}

.linker {
    text-decoration: none;
    color: gray;
    align-items: center;
}

marquee{
    background: gray;
    padding:.5rem;
    font-size: 1rem;
}